.table-row{
	display: table-row;
}

.table-header {
	display: table-row;
}

.table-header td {
	display: table-cell;
    border-style: solid;
	border-width: thin;
    padding: 3px;
	font-weight: bold;
    background-color: khaki;
}

.hideable {
    display: none;
  }

.clickable {
  cursor: pointer;
}

.s2-c-color {
  background-color: lightcyan !important;
}

.s2-h-color td {
  background-color: #8bf0f7 !important;
}

.s2-bg {
  background-color: lightcyan !important;
}

.s2-h-bg {
  background-color: #8bf0f7 !important;
}

.s2-r-bg {
  background-color: #cedede !important;
}

.c-h-bg {
  background-color: #8bc989 !important;
}

.c-r-bg {
  background-color: #cfdece !important;
  text-align: center;
}

.table-border {
  box-shadow: none;
  margin: unset !important;
  /* border: solid darkgray 1px;*/
}

.table-border td {
  border: solid darkgray 1px;
}

.no-shadow {
  box-shadow: none;
  border: solid darkgray 1px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

table caption {
	font-weight: bold;
    background-color: cornsilk;
    text-align: left;
    padding: 5px;
    padding-left: 25px;
}

table {
	margin: 11px;
	margin-top: 15px;
  margin-bottom: 15px;
	width: 99%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.inline-table {
    margin: 0px;
	width: 99%;
	box-shadow: none;
}

.inline-table td {
    margin: 0px;
	padding: 0px;
}


.container-table {
  box-shadow: none;
  border-style: none !important;
  margin: 0px;
  padding: 0px;
  display: table;
  width: initial;
}

th, td {
    text-align: left;
    padding: 3px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover > td { 
   border-top-style: solid; 
   border-top-width: 1px;  
   border-top-color: red;
   border-bottom-style: solid; 
   border-bottom-width: 1px;  
   border-bottom-color: red;
}

tr:hover > td:first-child { background-color: #e8d3cf !important}


.container-table table {margin: 1px}

.container-table tr {background-color: transparent}

.container-table > tbody > tr > td {border-style: none !important;}

.container-table > tbody > tr > td:first-child {background-color: transparent !important;}


.no-border {
  border-style: none !important
}

.no-border > tbody > tr > td {border-style: none !important;}

.no-border > tbody > tr > td:first-child {background-color: transparent !important;}

.tab-desc {
	visibility: collapse;
}

.tab-desc-container {
	border-style: outset;
    margin: 5px;
    padding: 5px;
}

a {
	cursor: pointer;
    text-decoration: underline;
}

.info-box {
  background-color: #ff9900;
	border-style: solid;
    border-width: thin;
    padding: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin: 15px;
	display: inline-block;
}

body {
	font-family: monospace;
    font-size: small;
}

.warning {
	border-color: red;
    border-width: thick;
}

.popup-container {
  position: relative;
}

.popup-window {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 10px;
  margin-left: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  z-index: 9999;
  width: max-content;
}

.popup-container:hover .popup-window {
  display: block;
}

.highlight {
  background-color: #edabab !important;
  transition: background-color 1s ease;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.info-msg {
  background-color: #4da1f0;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.genai-table {
  width: 100%; /* Default width for all screen sizes */
}

@media (min-width: 1200px) {
  .genai-table {
    width: 70%;
  }
}

@media (min-width: 1920px) {
  .genai-table {
    width: 50%;
  }
}